<h1>Mostrando conversa</h1>

<% @chat.messages.visible.each do |msg| %>
  <div class="d-flex mb-3 <%= msg.role == 'user' ? 'justify-content-end' : 'justify-content-start' %>">
    <div class="chat-bubble p-3 <%= msg.role %>">
      <div class="message-role">
        <%= msg.role == 'user' ? 'Você' : 'Assistente' %>
      </div>
      <%= markdown(msg.content) %>
    </div>
  </div>
<% end %>

<h2>Nova mensagem</h2>

<form action="/chats/<%= @chat.id %>/messages" method="post">
  <%= erb :form %>
</form>
<br name="new-message"/>

<h5>Estatísticas</h5>

<p>
  Essa conversa consumiu até agora <strong><%= @chat.input_tokens %></strong> tokens de entrada
  e <strong><%= @chat.output_tokens %></strong> tokens de saída.
</p>

<div class="py-5">
  <a href="/chats" class="btn btn-primary">Retornar para as conversas</a>
</div>
